# Conexión Pública de Supabase (Requerido)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Conexión Privada (Opcional - solo si se usa bypass RLS en servidor)
#SUPABASE_SERVICE_ROLE_KEY=tu-service-role-key-aqui

# Proveedor de Correos Electrónicos (Opcional)
# Si no lo agregas, el sistema simulará el envío de correos en los logs de la terminal
#RESEND_API_KEY=re_tu_api_key_de_resend_aqui

# Llave de gemini para respuestas con ia
GEMINI_API_KEY=